main{
    margin: 30px;
}
main .name{
    font-size: 40px;
}
main .bookImage{
    width: 100%;
}
main .price{
    font-weight: bold;
    font-size: 20px;
}
.changeButtonForm, .saveButtonForm{
    text-align: right;
    margin: 20px;
}
.change{
    margin: 20px;
}
.changeForm{
    flex-direction: column;
}
.deleteForm{
    margin: 20px;
    justify-content: right;
}
textarea{
    height: 300px;
    margin: 20px;
}
.cart{
    width: 30px;
}
.btn-outline-success{
    background-color: #28a745;
    color: white;
}
.btn-outline-success:hover{
    background-color: white;
    color: #28a745;
}
main .btn{
    line-height: 2;
}
.error{
    color: red;
    margin-top: 10px;
}
.count{
    width: 40px;
    padding: 2px;
}
.saveButton{
    margin-top: 20px;
}
.success{
    color: #10ff0f;
    text-align: center;
}