main img{
    width: 100%;
}
main{
    margin: 30px;
}
main p{
    font-size: 20px;
}
.total{
    font-size: 30px;
    text-align: right;
    margin: 30px;
}
.row{
    margin-bottom: 30px;
}
main .nameBook{
    font-weight: bold;
    font-size: 30px;
}
main .price{
    font-weight: bold;
}
.empty{
    font-size: 40px;
    text-align: center;
}
main .btn{
    padding: .2rem .25rem;
}
.count{
    margin: 10px;
    padding: 2px;
    width: 40px;
}
.cartItem{
    padding: 20px;
    background-color: aliceblue;
}