main{
    margin: 20px;
}
.book{
    padding: 10px;
    transition: all .3s;
}
.book:hover{
    border: 1px solid #3c5182;
    transform: scale(0.95);
}
.book p:nth-child(2){
    margin-bottom: 0;
}
.ref{
    text-decoration: none;
    color: black;
}
.ref:hover{
    text-decoration: none;
    color: black;
}
main .bookImage{
    width: 100%;
    margin-bottom: 20px;
}
main .nameBook{
    font-weight: bold;
    font-size: 14px;
}
main .price{
    font-weight: bold;
    font-size: 20px;
}