h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
h3{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding:  30px;
}
#new{
    color: white;
    margin: 20px 50px 0px 50px;
    background-color: #3c5182;
}
#new img{
    width: 100%;
    margin-bottom: 20px;
}
#new .nameBook{
    font-weight: bold;
    font-size: 14px;
}
#new .price{
    font-weight: bold;
    font-size: 20px;
}
#soon{
    color: black;
    margin: 30px;
}
#soon .bold{
    font-weight: bold;
    font-size: 20px;
}
.bookBorder{
    background-color: #ebff00;
    border: 5px solid #3c5182;
}
.bookBorder img{
    width: 100%;
    padding: 20px;
}
#carouselExampleIndicators{
    padding: 20px;
}
