body{
    background: url("../images/rabstol_net_books_04_1.jpg") no-repeat bottom fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
table{
    margin: 0 auto;
    color: white;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 20px;
}
#opacity {
    background-color: rgba(0, 0, 0, 0.65);
}
.btn-outline-primary{
    background-color: white;
    color: #3c5182;
    border-color: #3c5182;
}
.btn-outline-primary:hover{
    background-color: #3c5182;
    border-color: #3c5182;
}
#error{
    padding:  20px;
    text-align: center;
    color: #ff3d4a;
}
#hint{
    font-size: 10px;
}
.delete{
    text-align: right;
    margin-right: 50px;
}
#success{
    color: #10ff0f;
    text-align: center;
}