body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
footer{
    background-color: #3c5182;
    color: white;
    margin: 0;
    padding: 50px 100px;
    text-align: center;
}
footer>p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
}
footer>p:nth-child(2), footer>p:nth-child(3){
    font-weight: bold;
    font-size: 26px;
    margin: 10px 0;
}
footer a{
    margin: 0 10px;
}
footer a img{
    padding: 10px 0 30px 0;
}
footer hr{
    border-top:  1px solid white;
}
footer hr+p{
    margin-top: 50px;
}
.navbar-brand{
    font-size: 30px;
    color: #3c5182;
    font-weight: bold;
}
.nav-item a{
    font-size: 20px;
}
.nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}
.nav-item a:hover::after{
    transform: scale(1);
}
.btn-outline-primary{
    color: #3c5182;
    border-color: #3c5182;
}
.btn-outline-primary:hover{
    background-color: #3c5182;
    border-color: #3c5182;
}
#error{
    text-align: right;
    color: red;
    margin-right: 20px;
}
#profile{
    color: #3c5182;
    font-weight: bold;
}
#profile:hover{
    text-decoration: none;
}
#profile::after{
    content: '';
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}
#profile:hover::after{
    transform: scale(1);
}